APP_ENV=local
APP_DEBUG=true
SERVER_HOST=0.0.0.0
SERVER_PORT=80

DB_HOST=
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0

MAIL_SERVER_ADDRESS=
MAIL_SERVER_PASSWORD=

ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=